.project {
  background-color: var(--surface);
  height: auto;
  padding: 8%;
  width: 100%;
}

.sec-title {
  color: var(--text-primary);
  margin-bottom: 15px;
}

.project-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .project-container {
    justify-content: center;
  }
}
