.rounded-button {
  height: 40px;
  padding: 0 3%;
  border-radius: 20px;
  border: solid 0px;
  background-color: var(--highlight);
  color: white;
  font-weight: bold;
}

.rounded-button:hover {
  background-color: var(--tertiary);
}
